/* colors variables */
:root {
  --white: #eaeaea !important;
  --onyx: #313638 !important;
  --outerspace: #434a4c !important;
  --orange: #fca311 !important;
  --english-violet: #563D7C !important;
  --font-size: 16px !important;
  --red: rgb(245, 146, 146) !important;
  --green: rgb(107, 177, 107) !important;
  --nav-height: 10vh !important;
}

/* Remove all Bootstrap border-radius */
*,
*::before,
*::after {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  border: none !important;
  border-radius: 0 !important;
  -webkit-font-smoothing: antialiased !important;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--outerspace) !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--english-violet) !important; 
}



html {
  margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: 100% !important;
  scroll-behavior: smooth !important;
}


body {
  background-color: var(--onyx) !important;
  color: var(--white) !important;
}


.btn-primary  {
  background-color: var(--english-violet) !important;
}

.alert {
  margin: 0;
  text-align: center !important;
}

.errorlist {
  padding: 20px !important;
  color: var(--red) !important;
}


/* CUSTOM NAVBAR */
.navbar {
  min-height: var(--nav-height) !important;
  color: var(--onyx) !important;
  font-weight: 500 !important;
  background-color: var(--orange) !important;
}

.navbar .navbar-brand {
  color: var(--onyx) !important;
}
.navbar .nav-link {
  color: var(--onyx) !important;
  transition: color 0.3s ease !important;
  transition: background-color 0.3s ease !important;
}

.navbar .nav-link:hover {
  color: var(--english-violet) !important;
  transition: color 0.3s ease !important;
  transition: background-color 0.3s ease !important;
}

.navbar .signup {
  background-color: var(--english-violet) !important;
  color: var(--white) !important;
}

.navbar .signup:hover {
  background-color: var(--onyx) !important;
  color: var(--white) !important; 
}

/* hanburger menu */
 /* Adicione este bloco de estilo ao seu arquivo de folha de estilos CSS personalizado */
 .navbar-toggler-icon {
  color: var(--onyx) !important;
  transition: filter 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.navbar-toggler-icon i{
  margin-top: 5px;
}

.navbar-toggler:hover .navbar-toggler-icon {
  color: var(--english-violet) !important;
}

/* Custom styles for the hero banner */
.hero-banner {
  position: relative !important;
  max-height: calc(100vh - var(--nav-height)) !important; /* Adjust height as needed */
  overflow: hidden !important;
  border-bottom: 5px solid var(--orange) !important;
  
}

.hero-banner img {
  width: 100% !important;
  height: auto !important;
  z-index: 0 !important;
}

.hero-banner h1 {
  color: var(--orange) !important;
  font-size: 3.5rem !important;
  margin-bottom: 20px !important;
}

.hero-banner p {
  color: var(--white) !important;
  font-size: 1.25rem !important;
  margin-bottom: 40px !important;
}

.hero-banner .hero-banner-overlay {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.hero-banner .hero-banner-content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 2 !important;
  text-align: center !important;
}

.hero-banner .btn-hero {
  background-color: var(--english-violet) !important;
  font-size: 1.5rem !important;
  padding: 10px 30px !important;
}

.hero-banner .btn-hero:hover {
  background-color: var(--orange) !important;
}

/* list tutor page */
.tutor-item img {
  width: 100% !important;
  max-height: 180px !important;
  z-index: 0 !important;
  overflow-x: auto;
  object-fit: cover;
  
}

/* booking page */
.profile-info {
  margin-bottom: 30px !important;
}
.avatar {
  max-width: 400px !important;
  margin-bottom: 20px !important;
}

.nav-footer {
  bottom: 0 !important;
  margin: 0 !important;
  padding: 10px !important;
  background-color: var(--orange) !important;
}

.nav-footer p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0.8rem !important;
  color: var(--onyx) !important;
}

.nav-footer ul {
  border-color: var(--onyx) !important;
}

.nav-footer .nav-item .nav-link {
  font-weight: 500 !important;
  color: var(--onyx) !important;
}

.nav-footer .nav-item .nav-link:hover {
  color: var(--english-violet) !important;
}

/* CUSTOM CONTENT */
.content {
  padding:50px 0px !important;
}

/* CUSTOM FORM */
.form-content .password-help-text{
  color: var(--orange) !important;
}

.form-content ul {
  list-style: none;
}
.form-content ul li::before {
  padding-right: 10px;
  content: "\f04b" !important;
  font-family: 'Font Awesome 5 Free' !important; /* Especifique a família de fontes do FontAwesome */
  font-weight: 600 !important; 
}



.booking-form {
  margin-top: 30px !important;
}

/* Widescreen media query targeting screens with a minimum width of 1200px */
@media screen and (min-width: 1200px) {
  /* Your widescreen-specific CSS styles here */
  /* For example: */
  .hero-banner {
    min-height: 37.5rem !important;
  }
}
