{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container mt-5">
      <div class="container text-center">
        <h1>Who They Are?</h1>

        <div class="row">
          <div class="col text-center">
            <!-- Tutor Information -->
            <div class="profile-info">
              <img
                src="assets/images/tutor-avatar.jpg"
                alt="Tutor Avatar"
                class="avatar"
              />
              <h3>Tutor Name</h3>
              <p>
                A passionate music tutor with years of experience in teaching.
              </p>
              <p><strong>Music Style:</strong> Classical</p>
              <p>
                <strong>Instrument:</strong>
                <span
                  class="badge badge-danger px-3 rounded-pill font-weight-normal"
                  >Piano</span
                >
              </p>
            </div>
          </div>
        </div>

        {% if user.is_authenticated %}
        <!-- Booking Component -->
        <div class="col">
          <div class="col">
            <div class="booking-form">
              <h3>Book a Session</h3>
              <form>
                {% csrf_token %}
                <div class="form-group">
                  <label for="date">Select Date</label>
                  <input type="date" class="form-control" id="date" />
                </div>
                <div class="form-group">
                  <label for="time">Select Time</label>
                  <select class="form-control" id="time">
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
                <div class="form-group">
                  <label for="message">Additional Message</label>
                  <textarea
                    class="form-control"
                    id="message"
                    rows="3"
                    placeholder="Enter any additional information"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Book Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <p>
      <form class="login text-center" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <button  type="submit" class="btn btn-primary">sign in first</button>
      </form>
    {% endif %}

    {% endblock content %}