{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Sign Up</h3>
            </div>

            <div class="card-body">
              <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <p>
                  If you already have created an account, then please
                  <a href="{% url 'auth' %}">sign in</a> first.
                </p>
                {{form|crispy}}

               
                <button type="submit" class="btn btn-primary btn-block">
                  Sign Up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}