{% extends 'base.html' %}


{% block content %}

    <div class="container mt-5">
      <div class="container text-center">
        <h1>Who They Are?</h1>

        <div class="row">
          <div class="col text-center">
            <!-- Tutor Information -->
            <div class="profile-info">
              <img
                onerror="this.onerror=null; this.src='../../static/images/placeholder.jpg'"
                src="{{ tutor.avatar_image }}"
                alt="{{ tutor.name }}"
                class="avatar"
              />
              <h3>{{ tutor.name }}</h3>
              <p>
                {{ tutor.description }}
              </p>
              <p>
                <strong>Music Style:</strong> 
                <span
                class="badge badge-danger px-3 rounded-pill font-weight-normal"
                style="background-color: #{{ tutor.music_styles.color }} !important;"
                >{{ tutor.music_styles.name }}</span
              >
              </p>
              <p>
                <strong>Instrument:</strong>
                <span
                  class="badge badge-danger px-3 rounded-pill font-weight-normal"
                  style="background-color: #{{ tutor.instrument.color }} !important;"
                  >{{ tutor.instrument.name }}</span
                >
              </p>
            </div>
          </div>
        </div>

        {% if user.is_authenticated %}
        <!-- Booking Component -->
        <div class="col">
          <div class="col">
            <div class="booking-form">
              <h3>Book a Session</h3>
              <form class="login text-center" method="POST" action="{% url 'tutor_detail' tutor_id %}">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary">Book Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <p>
      <form class="login text-center" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <button  type="submit" class="btn btn-primary">sign in first</button>
      </form>
    {% endif %}

    {% endblock content %}